.torouter{
    width: 80px; font-size: 15px; margin-left: 10px;
    border: 1px solid #eee; text-align: center; border-radius: 5px; cursor: pointer;
}
.carlist{
    background: darkslateblue; padding: 20px;
}
.prompt{
    color: magenta;
}
.mes{
    font-size: 12px;border: 1px solid lightcoral; color: lightcoral; padding: 5px; border-radius: 10px; display: block; width: 100px; text-align: center; margin-bottom: 10px;
    &:hover{ background:lightcoral ; cursor: pointer; color: #fff;}
} 