.torouter{
    width: 120px; font-size: 15px; margin-left: 10px;
    border: 1px solid #eee; text-align: center; border-radius: 5px; cursor: pointer;
}
.carType{
    background: lightpink; padding: 20px;
}
.prompt{
    color: magenta;
}