
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}
.car {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: -1px;
  padding: .6em 0;
  color: white;
  height: 600px;
  border: 3px solid lawngreen;
  padding: 10px; box-sizing: border-box;
}
.sysTitle{
  width: 200px;
  border: 1px solid lawngreen; text-align: center; margin-left: 20px;
  background: lawngreen;
}
